app_body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header {
  background-color: antiquewhite;
  padding: 16px;
}

.header h1 {
  text-align: center;
  margin: 24px 0;
}

.book_listing {
  display: flex;
  flex-direction: row;
}

.catalog_book {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 300px;
}

.author_name {}

.footer {
  background-color: antiquewhite;
  padding: 16px;
  text-align: center;
  margin: 24px 0;
}
